################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Meat Market/.vs
/MeatMarket/.vs/MeatMarket/v15/Server/sqlite3
